.row-header {
    margin: 0px auto;
    padding: 0px auto;
  }
  
.row-content {
    margin: 0 auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
  }
  
.footer {
    background-color: #c0b3d7;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
  }
  
.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #4b376f;
    color: rgb(50, 60, 65);
  }
  
.address {
    font-size: 90%;
    margin: 0px;
    color: #0f0f0f;
  }
  body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: #35a24f;
}
.tab-content {
    border-left: 1px solid rgb(34, 27, 27);
    border-right: 1px solid rgb(33, 29, 29);
    border-bottom: 1px solid rgb(79, 69, 69);
    padding: 10px;
}